# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.venv/
env/
venv/

# Data and model files
*.h5
*.ckpt
*.pth
*.pt
*.npz
*.npy

# OS files
.DS_Store

# Logs
*.log

# VSCode settings
.vscode/